/* -------------------------------------------------------------------------

 Apps Daily Indicator 2016
 © Movile Company
 Original Repo: https://github.com/tiago-cardoso-movile/Daily-Indicator
 Created by: Tiago Cardoso - twitter: @elcardoson
 License: MIT

---------------------------------------------------------------------------- */
@font-face {
  font-family: "Proxima Nova Soft";
  src: url("http://www.cardoso.cc/movile/fonts/font-face/regular/proximanovasoft-regular.eot");
  src: url("http://www.cardoso.cc/movile/fonts/font-face/regular/proximanovasoft-regular.eot?#iefix") format("embedded-opentype"), url("http://www.cardoso.cc/movile/fonts/font-face/regular/proximanovasoft-regular.woff2") format("woff2"), url("http://www.cardoso.cc/movile/fonts/font-face/regular/proximanovasoft-regular.woff") format("woff"), url("http://www.cardoso.cc/movile/fonts/font-face/regular/proximanovasoft-regular.ttf") format("truetype"), url("http://www.cardoso.cc/movile/fonts/font-face/regular/proximanovasoft-regular.svg#svgFontName") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova Soft";
  src: url("http://www.cardoso.cc/movile/fonts/font-face/semi-bold/proximanovasoft-semibold.eot");
  src: url("http://www.cardoso.cc/movile/fonts/font-face/semi-bold/proximanovasoft-semibold.eot?#iefix") format("embedded-opentype"), url("http://www.cardoso.cc/movile/fonts/font-face/semi-bold/proximanovasoft-semibold.woff2") format("woff2"), url("http://www.cardoso.cc/movile/fonts/font-face/semi-bold/proximanovasoft-semibold.woff") format("woff"), url("http://www.cardoso.cc/movile/fonts/font-face/semi-bold/proximanovasoft-semibold.ttf") format("truetype"), url("http://www.cardoso.cc/movile/fonts/font-face/semi-bold/proximanovasoft-semibold.svg#svgFontName") format("svg");
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova Soft";
  src: url("http://www.cardoso.cc/movile/fonts/font-face/bold/proximanovasoft-bold.eot");
  src: url("http://www.cardoso.cc/movile/fonts/font-face/bold/proximanovasoft-bold.eot?#iefix") format("embedded-opentype"), url("http://www.cardoso.cc/movile/fonts/font-face/bold/proximanovasoft-bold.woff2") format("woff2"), url("http://www.cardoso.cc/movile/fonts/font-face/bold/proximanovasoft-bold.woff") format("woff"), url("http://www.cardoso.cc/movile/fonts/font-face/bold/proximanovasoft-bold.ttf") format("truetype"), url("http://www.cardoso.cc/movile/fonts/font-face/bold/proximanovasoft-bold.svg#svgFontName") format("svg");
  font-weight: 700;
}
/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
/* -------------------------------------
    PADDINGS
------------------------------------- */
/* -------------------------------------
    GLOBAL TEXT COLORS
------------------------------------- */
/* -------------------------------------
    TYPOGRAPHY SETUP
------------------------------------- */
/*@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #F2F5F7;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #D2D5D9;


//** Spacing line height for tables and cells
@line-height-tables: 			3.128571429; // 20/35*/
/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
* {
  margin: 0;
  font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
img {
  max-width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6em;
  /* 1.6em * 14px = 22.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 22px;*/
}
/* Let's make sure all tables have defaults */
b {
  font-weight: 700;
  font-size: 11px;
  color: #3a536a;
}
table td tr {
  color: #3a536a;
}
/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: #f6f6f6;
}
.body-wrap {
  background-color: #f6f6f6;
  width: 100%;
}
.container {
  display: block !important;
  max-width: 620px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}
.content {
  max-width: 620px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
.main {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.content-wrap {
  padding: 20px;
}
/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3 {
  font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif !important;
  color: #f52b84 !important;
  line-height: 1.1 !important;
  margin-bottom: 4px !important;
}
h1 {
  font-size: 24px !important;
  font-weight: 600 !important;
  /* 1.2em * 32px = 38.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 38px;*/
}
h2 {
  font-size: 14px !important;
  font-weight: 600 !important;
  /* 1.2em * 24px = 28.8px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 29px;*/
}
h3 {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #3a536a !important;
  /* 1.2em * 18px = 21.6px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 22px;*/
}
h4 {
  font-size: 13px !important;
  color: #3a536a !important;
  font-weight: normal !important;
}
p,
ul,
ol {
  margin-bottom: 10px;
  font-weight: normal !important;
}
p li,
ul li,
ol li {
  margin-left: 5px !important;
  list-style-position: inside !important;
}
/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  color: #f52b84;
  text-decoration: none;
  font-weight: 700;
}
.btn-primary {
  text-decoration: none;
  color: #FFF;
  background-color: #348eda;
  border: solid #348eda;
  border-width: 10px 20px;
  line-height: 2em;
  /* 2em * 14px = 28px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 28px;*/
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
}
/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
  body {
    padding: 0 !important;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .container {
    padding: 0 !important;
    width: 100% !important;
  }
  .content {
    padding: 0 !important;
  }
  .content-wrap {
    padding: 10px !important;
  }
  .invoice {
    width: 100% !important;
  }
}
/* -------------------------------------
    TABLES
    Styles for the tables
------------------------------------- */
/* -------------------------------------
    TABLES RANKING
------------------------------------- */
table.ranking-tables th,
table.ranking-tables td {
  text-align: left;
}
table.ranking-tables th.align-right {
  text-align: right;
}
table.ranking-tables td.align-right {
  text-align: right;
}
table.layout {
  width: 100%;
  border-collapse: collapse;
}
table.display {
  margin: 1em 0;
}
table.display th,
table.display td {
  padding: .8em .5em;
}
table.pd-rkng {
  margin-top: 35px !important;
}
table.responsive-table tbody tr:nth-child(odd) {
  background: #f6f6f6;
}
table.responsive-table tbody tr.highlight {
  color: #f52b84;
}
@media (max-width: 30em) {
  table.responsive-table {
    box-shadow: none;
  }
  table.responsive-table thead {
    display: none;
  }
  table.display th,
  table.display td {
    padding: .5em;
  }
  table.responsive-table td:nth-child(1):before {
    content: 'Position';
  }
  table.responsive-table td:nth-child(2):before {
    content: 'App Name';
  }
  table.responsive-table td:nth-child(3):before {
    content: 'Total';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3) {
    padding-left: 25%;
    text-align: right;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before,
  table.responsive-table td:nth-child(3):before {
    position: absolute;
    left: .5em;
    font-weight: bold;
  }
  table.responsive-table tr,
  table.responsive-table td {
    display: block;
  }
  table.responsive-table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  table.responsive-table td {
    border-top: none;
  }
  table.responsive-table td.organization-position {
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
  }
  table.responsive-table td.value-data-dis {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
  }
}
/* -------------------------------------
    HEADER MAIN
------------------------------------- */
.content-header {
  background-color: #FFFFFF !important;
  padding: 30px 20px 10px 20px !important;
  border-top: solid 3px #3a536a !important;
}
img.logo {
  float: right !important;
  margin-top: 8px !important;
  margin-right: 5px !important;
}
.go-movile {
  font-weight: 700 !important;
}
.date {
  font-size: 14px !important;
}
/* -------------------------------------
    HEADER GLOBAL PIE CHARTS
------------------------------------- */
.titles-daily-indicator {
  padding: 20px 20px 10px 20px;
}
.titles-daily-indicator h4 {
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 6px;
}
.titles-daily-indicator span {
  padding: 0;
  margin: 0;
  width: 20px;
  display: block;
  border-bottom: 3px solid #3a536a;
}
.titles-daily-indicator hr {
  color: #3a536a !important;
}
.global-indicators {
  padding: 20px 20px 10px 20px !important;
}
.global-indicators tr td {
  border: none;
}
.global-indicators h1 {
  color: #3a536a;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin: 0;
}
.global-indicators p {
  font-size: 16px !important;
  color: #3a536a !important;
  font-weight: 700 !important;
  margin-bottom: 0px !important;
  text-align: right !important;
}
.global-indicators .title-charts {
  text-align: left !important;
}
.global-indicators span {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  float: right;
}
.ico-arrow {
  vertical-align: middle;
  padding-left: 4px !important;
}
.set-growth {
  color: #04cc53;
}
.set-decay {
  color: #f37870;
}
.in-app {
  float: right;
}
.new-installs {
  float: left;
}
/* -------------------------------------
    FOOTER
------------------------------------- */
.content-footer {
  font-size: 11px !important;
  line-height: 15px;
  text-align: center;
  padding: 5px 20px 5px 20px !important;
  color: #939393;
}
.content-footer img {
  padding-bottom: 30px;
}
/* -------------------------------------
    GLOBAL HEADER, FOOTER, MAIN
------------------------------------- */
.header {
  width: 100%;
  margin-bottom: 20px;
}
.content-block {
  padding: 20px;
  background-color: #FFFFFF;
}
/*# sourceMappingURL=styles.css.map */
