
/* -------------------------------------
    HEADER GLOBAL PIE CHARTS
------------------------------------- */

.titles-daily-indicator{
  padding:20px 20px 10px 20px;
}

.titles-daily-indicator h4{
	padding: 0px;
	margin-top: -5px;
	margin-bottom: 6px;
}

.titles-daily-indicator span{
	padding:0;
	margin: 0;
	width: 20px;
	display: block;
	border-bottom: 3px solid @dark-grey-blue;
}


// CUSTOM TABLE FOR RECEIVE CHARTS

span.global-indicators {
	position: relative;
	padding:20px 20px 10px 20px !important;
	display: inline-block;
	width: 49%;
}
span.global-indicators img.charts{
	width: 250px;
	padding-top: 24px;
}

span.global-indicators .global-indicators-title {
	color: @dark-grey-blue;
	font-weight: @font-bold-weight;
	text-align: left;
	padding: 0;
	margin:0;
	font-size: @font-size-small;
}

span.global-indicators .global-indicators-value{
	text-align: right;
	font-size: @font-size-small;
	font-weight: @font-bold-weight;
	position: absolute;
	right: 20px;
	top: 20px;
}


span.global-indicators .global-indicators-change{
	font-weight: @font-bold-weight;
	font-size: @font-size-small;
	position: absolute;
	top:40px;
	right: 20px;
}

span.global-indicators .global-indicators-change .ico-arrow img{
	vertical-align: text-top;
	width: 9px;
	height: 11px;
	margin-top: 2px;
}

.set-growth{
	color: @good-up-green;
}
.set-decay{
	color: @not-good-red;
}



@media screen and (max-width: 525px) {

	span.global-indicators {
		padding:20px 20px 10px 20px !important;
		display: inline-block;
		width: 100%;
	}
	span.global-indicators img.charts{
		width: 500px;
		padding-top: 24px;
	}

}








