
/* -------------------------------------
    HEADER MAIN
------------------------------------- */

.content-header {
  background-color: @container-color !important;  
  padding: 30px 20px 10px 20px !important;
  border-top: solid 3px @dark-grey-blue;
}

img.logo{
float: right;
margin-top: 8px;
margin-right: 5px;
}

.go-movile{
	font-weight: @font-bold-weight;
}

.date{
	font-size: @font-size-small;
}