
// Variables
// --------------------------------------------------
@import "fonts.less";

//Paths assets of the project
@url-image-path:        "../images/";
@url-server-assets: "http://movile-di.s3.amazonaws.com/telecom/apps_daily_indicator/";


//Colors Palette of the Kiwi
// Define text, background and border color.

// Primary default colors 
@red-pink: 					 #f52b84;
@slate-default: 			 #3c4a60;
@dark-grey-blue:			 #3a536a;
@steel-blue: 				 #5a7e9f;

// Color arrows positions datas
@good-up-green: 			 #04cc53;
@not-good-red: 				 #f37870;

// Color charts
@lightblue: 				 #5ec9e7;
@seafoam-blue:				 #60c7bf;
@wisteria:					 #ae91c5;
@light-mustard:  		     #f6bd60;

// Grey colors secondary
@grey: 						 #e6e6e6;
@gray-light: 				 #f6f6f6;
@warm-grey: 				 #8a8a8a;
@grey-dark:					 #939393;



/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

//** Background color for `<body>`.
@body-bg:                   @gray-light;
@body-wrap-bg:			    @gray-light;
@container-color:		    #FFFFFF;

// witdh sizes structure
@body-width: 		 	    100%;

// E-mail width size
@container-width:		    620px;

/* -------------------------------------
    PADDINGS
------------------------------------- */

@padding-default:			20px;

/* -------------------------------------
    GLOBAL TEXT COLORS
------------------------------------- */

@api-text-color:            @dark-grey-blue;
@api-headline-color:        @red-pink;	


/* -------------------------------------
    TYPOGRAPHY SETUP
------------------------------------- */
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif: "Proxima Nova Soft", Helvetica, Arial, sans-serif;

//** Default fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-base:        @font-family-sans-serif;

@font-size-large:         18px;
@font-size-medium:        16px;
@font-size-small:         14px;
@font-size-extra-small:	  11px;

@font-size-h1:            24px;
@font-size-h2:            14px;
@font-size-h3:            14px;
@font-size-h4:            13px;


//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-sans-serif;
@headings-line-height:    1.1;

// normal font
@font-regular-weight:     normal;
//** Bold font
@font-semi-bold-weight:   600;
@font-bold-weight: 		  700;

//paddings h1,h2,h3
@padding-headlines:		  4px;	











